*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    overflow-x: hidden;
    --red:#c71a26;
    --darkRed:#a92b34;
}
.row{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
.navbar-txt{
    font-weight:700;    
}
.portfolio-text{
    color: var(--red);
    font-weight:800;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-top: 150px;
    padding-top: 80px;
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;    
    font-weight: 1000;
    animation-delay: 0.5s;
    animation-duration: 1.3s;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562);   
}
.portfolio-sub-text{
    font-weight:600;
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;    
    font-weight: 1000;
    animation-delay: 0.5s;
    animation-duration: 1.3s;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562); 
}
.portfolio-img{
    width: 380px;
    padding-top: 87px;
    transform: scaleX(-1) !important;
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;    
    font-weight: 1000;
    animation-delay: 0.5s;
    animation-duration: 1.3s;
}
.portfolio-intro{
    text-align:left;
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;    
    font-weight: 1000;
    animation-delay: 0.5s;
    animation-duration: 1.3s;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562); 
}
.portfolio-text-section{
    padding-left: 4.1rem;
}
.intro-btn{
    background-color: var(--darkRed);
    padding: 8px 35px;
    font-weight: 500;
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;    
    font-weight: 1000;
    animation-delay: 0.5s;
    animation-duration: 1.3s;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562); 
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.about-section{
    background: linear-gradient(to right, #181818 50%, #000000 50%);
}
.about-content{
    margin-top: 100px;
}
.red-card{
    background-color: var(--red);
    color: white;
}
.grey-card{
    background-color:#343434;
    color: white;
}
.about-logos{
    color:var(--red);
}
.about-link{
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}
.about-txt{
    color:#6a6a68;
    font-weight: 500;
}
.about-txt-2{
    color:#b1b1afcc !important;
}
.about-heading{
    color: var(--red);
    font-weight: 800;
    font-size: 70px;
}
.about-card{
    background-color:#343434;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.638); */
}
.about-card-header{
    padding-top: 10px;
    color: var(--red);
    font-weight: 700;
}
.project-section{
    background-color: black;
}
.project-header{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
}
.project-card{
    background-color: #343434;
    padding-bottom: 20px;
}
.project-text-main{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}
.project-text{
    color: var(--red);
}
.contact-section{
    background: linear-gradient(to bottom, #181818 50%, #000000 50%);
}
.contact-row{
    background-color: #343434;  
}
.contact-text-main{
    font-weight: 600;
}
.contact-text-sub{
    font-weight: 600;
}
.project-btn{
    background-color: #000000;
    border: 0;
}
.footer-section{
    background-color: #343434;    
}
.footer-icons{
    /* width: 70px; */
    color: #181818;
}
.project-desc{
    padding-left: 20px;
}
@media(max-width:768px){
    .portfolio-img{
        width: 250px;
        padding-top: 10px;
    }
    .portfolio-text{
        margin-top: 20px;
        padding-top: 20px;
    }
    .intro-btn{
        margin-bottom: 50px;
    }
    .grey-card{
        margin-bottom: 20px;
    }
    .red-card{
        margin-bottom: 20px;
    }
    .technologies{
        margin-top:1.5rem !important;
        padding: 0 !important;
    }
    .projects{
        padding: 0 !important;
    }
    .project-images{
        margin-top: 0px !important;
    }
    .project-card{
        margin-bottom: 25px;
        padding-bottom: 20px;
    }
    .project-desc{
        padding-left: 20px;
        font-size: 5px !important;
    }
    .project-text-main{
        margin-top: 0 !important;
    }
    .footer-link-item{
        margin: 20px;
    }
    .about-card-header{
        padding-top: 15px;
    }
} 
.footer-icons:hover{
    color: wheat;
}
.footer-links-list{
list-style: none;
}
.footer-link-item{
    margin-left: 20px;
}
.view-all-btn{
    text-decoration: none;
}
.btn:hover{
    background-color: var(--red);
}
html{
    scroll-behavior: smooth;
}